In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,01-Jun-2022,16594.40,16649.20,16438.85,16522.75,249619038,19350.33
1,02-Jun-2022,16481.65,16646.40,16443.05,16628.00,235958283,20055.84
2,03-Jun-2022,16761.65,16793.85,16567.90,16584.30,245514871,22249.29
3,06-Jun-2022,16530.70,16610.95,16444.55,16569.55,233589132,17999.41
4,07-Jun-2022,16469.60,16487.25,16347.10,16416.35,233814633,17921.95

In [4]:
df['Open'].dtype

dtype('float64')

In [5]:
print(df['Date'].dtype)

object

In [11]:
# writing csv file
df1=pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]],columns=['A1','B1','C1','D1'])
df1.to_csv('export.csv')

In [12]:
df1.to_html('pandas page')