In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [17]:
df1=pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]],index=['A','B','C','D'],columns=['A1','B1','C1','D1'])
print(df1)

   A1  B1  C1  D1
A   1   2   3   4
B   5   6   7   8
C   9  10  11  12
D  13  14  15  16

In [18]:
print(df1.head(3)) #top 3
print(" ")
print(df1.tail(3)) #bottom 3

   A1  B1  C1  D1
A   1   2   3   4
B   5   6   7   8
C   9  10  11  12

   A1  B1  C1  D1
B   5   6   7   8
C   9  10  11  12
D  13  14  15  16

In [19]:
df1.shape

(4, 4)

In [20]:
df1.iloc[0::2,1:3]#start:stop+1:step 1st arg row 2nd arg colum

   B1  C1
A   2   3
C  10  11